/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.body {
    font-family: "Noto Sans TC",;
    color: #212529;
    font-weight: 500; 
}

/*===========================*/

/*文字樣式*/

h1 {
    font-size: 48px;
}

.banner h1, h3 {
    color: white;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
}

h3 {
    font-size: 28px;
    line-height: 120%;
}


h4 {
    font-size: 24px;
    line-height: 120%;
}

h5 {
    font-size: 20px;
    line-height: 120%;
}

h6 {
    font-size: 16px;
    line-height: 120%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

a:link {
text-decoration:none;
color: #212529;
}

.slash {
    width: auto;
    margin-left: 12px;
    margin-right: 12px;
    line-height: 150%;
}

/*線條樣式*/
.line {
    height: 1px;
    background-color: #DEE2E6;
}


/*按鈕樣式*/

.shop-now-button {
    display: inline-block;
    padding: 12px;
    padding-right: 24px;
    padding-left: 24px;
    background-color: #C0FA73;
    font-size: 16px;
    line-height: 150%;
    border-radius: 4px;
}

.block-button {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
    padding: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 4px;
    background-color: #212529;
    color: white;
}

.button-border {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    border-color: #DEE2E6;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

/*===========================*/

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    width: 100%;
    height: 80px;
}

.main-menu {
    display: flex;
    margin-left: 312px;
    width: auto;
    height: auto;
    align-items: center;
}


.menu {
    display: flex;
    width: auto;
    height: auto;
    padding: 16px;
    font-size: 16px;
    line-height: 120%;
}

.menu-user {
    display: flex;
    margin-left: auto;
    margin-right: 312px;
    width: auto;
    height: auto;
    padding: 16px;
    align-items: center;
} 

.banner {
    position: relative;
    display: flex;
    width: 100%;
    height: 800px;
    background-color: coral;
    overflow: hidden;
    align-items: center;
}

.header-banner {
    position: absolute;
    top:0px;
    max-width: 100%;
    height: auto;
    margin: 0px;
}

.banner img {
    width: auto;
    height: 100%;
}

.banner-title {
    position: absolute;
    margin-left: 232px;
    width: auto;
    height: auto;
    align-items: center;
}


.arrivals {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    height: auto;
    /*justify-content: center;*/
    align-items: center;
    
}

.arrivals-prouct-list {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 312px;
    margin-right: 312px;
    gap: 16px;
    align-items: center;
    justify-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    width: calc(50% - 8px);
}

.arrivals-prouct-list-item {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.item span {
    font-size: 12px;
}

.item h6 {
    line-height: 180%;
}


.best-seller, .series, .style {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 64px;
    margin-bottom: 64px;
    margin-left: 312px;
    margin-right: 312px;
    overflow: hidden;
}

.best-seller-product, .series-sort, .style-album {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 12px;
    margin-top: 12px;
    height: auto;
}

.best-seller-product-item, .series-sort-item {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}

.best-seller-product-tag {
    position: absolute;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    color: #57A203;
    background-color: #F5FEE7;
    font-size: 14px;
    line-height: 150%;
    z-index: 2;
}   

.time-sale {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 48px;
    margin-bottom: 48px;
    overflow: hidden;
    z-index: 1;
}

.time-sale section {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.time-sale h1 {
    color: white;
}

.time-sale span {
    color: #C0FA73;
    font-size: 40px;
}

/* 檢查用色塊
.time-sale h1, span {
    background-color: aqua;
}
*/

.time-sale h2 {
    color: white;
    margin-top: 12px;
    margin-bottom: 32px;
}

.time-sale h5 {
    color: #ADB5BD;
    margin-bottom: 48px;
    font-weight: 400;
}


.time-sale-banner {
    width: 100%;
    height: auto;
}


.section-sort-list {
    position: relative;

}

.series-sort-item-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 7;
}

.section-sort-list a:hover .series-sort-item-filter {
    /* 懸停時變為 80% 不透明 (20% 透明) */
    background-color: rgba(0, 0, 0, 0.6); 
}


.style {
    height: auto;
}

.style-album {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-auto-flow: dense;
    gap: 8px;
}
.style-album img {
    max-width: 100%; 
    height: 100%;
    object-fit: cover; 
}

.style-album-Square1 {
    grid-column: 5 / span 2; 
    grid-row: 1 / span 2;
}

.style-album-Square2 {
    grid-column: 1 / span 2; 
    grid-row: 2 / span 2;
}


.header-cta {
    display: flex;
    justify-content: center;
    height: auto;
    margin-top: 48px;
    background-color: #E8FEC5;
}

.header-cta-content {
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    gap: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
}



.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 64px;
    padding-top: 64px;
}

.footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 312px);
    height: auto;
    margin-left: 312px;
    margin-right: 312px;

}


.footer-menu div {
    display: flex;
    right: 0%;
    flex-direction: row;
}

.line {
    width: calc(100% - 312px);
    margin-bottom: 32px;
}

.footer-copyright span {
    display: block;
    font-size: 12px;
    text-align: center;
}




/*PRODUCTS PAGE*/

.products {
    display: flex;
    width: auto;
    margin: 312px;
    margin-top: 64px;
    margin-bottom: 64px;
    gap: 16px;
}

.products-photo {
    flex: 3;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.products img {
    width: calc(50% - 8px);
}


.products-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.products-info h6 {
    font-weight: 500;

}

.products-info-sort {
    color: #6C757D;
    font-size: 16px;
    line-height: 150%;
}

.products-info .slash {
    color: #DEE2E6;
}

.products-info h6 {
    color: #212529;
    display: inline;
    line-height: 150%;
}

.products-info-price h5 {
    display: inline;
    color: #57A203;
    margin-right: 8px;
}

.products-info-price span{
    text-decoration: line-through;
    color: #ADB5BD;
}

.products-info-content {
    display: flex;
    flex-direction: column;
    line-height: 150%;
    gap: 12px;
    color: #212529;
    margin-bottom: 32px;
}

.products-info-content span {
    display: block;
}


.products-info-color {
    display: block;
    height: auto;
    font-weight: 400;
    margin-bottom: 20px;
}

.products-info-color-list {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    gap: 8px;
}


.products-info-color-card {
    display: inline;
    height: auto;

}

.products-info-color-card img {
    width: 64px;
}
.products-info-color-card span {
    display: block;
    font-weight: 500;
    text-align: center;
    color: #6C757D;
}


.products-info-size {
    display: flex;
    flex-direction: column;
}

.products-info-size-list {
    display: grid;
    margin-top: 8px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-auto-flow: dense;
    gap: 8px;
}

.products-info-size span {
    display: block;
    margin-top: 8px;
    color: #D74F4F;
    font-size: 14px;
}

.size-button {
    display: inline-block;
}



.button-border-oos {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    color: #DEE2E6;
    border-color: #DEE2E6;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

.products-info-cta {
    display: flex;
    flex-direction: row;
    gap: 8px;
    
}



.products-info-cta-border {
    flex: 1;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    height: auto;
    border-color: #212529;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}

.heart {
    width: 20px;
    height: 20px;
    background-color: #D74F4F;
    justify-content: center;
    align-items: center;
}


.products-info-cta-block {
    flex: 1;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    background-color: #212529;
    border-radius: 4px;
}

.products-info-details span {
    display: block;
    line-height: 150%;
    color: #6C757D;
    font-weight: 400;
}

.products-info-details .line {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
}

