/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.body {
    font-family: "Noto Sans TC";
    color: #212529;
    font-weight: 500;   
}

a:link {
text-decoration:none;
color: #212529;
}


.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    width: 100%;
    height: 80px;
}

.main-menu {
    display: flex;
    margin-left: 312px;
    width: auto;
    height: auto;
    align-items: center;
}


.menu {
    display: flex;
    width: auto;
    height: auto;
    padding: 16px;
    font-size: 16px;
    line-height: 120%;
}

.menu-user {
    display: flex;
    margin-left: auto;
    margin-right: 312px;
    width: auto;
    height: auto;
    padding: 16px;
    align-items: center;
} 

.banner {
    position: relative;
    display: flex;
    width: 100%;
    height: 800px;
    background-color: coral;
    overflow: hidden;
    align-items: center;
}

.header-banner {
    position: absolute;
    top:0px;
    max-width: 100%;
    height: auto;
    margin: 0px;
}

.banner img {
    width: auto;
    height: 100%;
}

.banner-title {
    position: absolute;
    margin-left: 232px;
    width: auto;
    height: auto;
    align-items: center;
}

h1 {
    font-size: 48px;
}

.banner h1, h3 {
    color: white;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
}

h3 {
    font-size: 28px;
    line-height: 120%;
}


h4 {
    font-size: 24px;
    line-height: 120%;
}

h5 {
    font-size: 20px;
    line-height: 120%;
}

h6 {
    font-size: 16px;
    line-height: 120%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}


.arrivals {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    height: auto;
    /*justify-content: center;*/
    align-items: center;
    
}

.prouct-list {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    padding-top: 12px;
    padding-left: 16px;
    padding-bottom: 16px;
    margin-left: 312px;
    margin-right: 312px;
    gap: 16px;
    align-items: center;
    justify-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    width: calc(50% - 16px);
}

.product-item {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.item span {
    font-size: 12px;
}

.item h6 {
    line-height: 180%;
}


.best-seller {
    width: 100%;
    height: 498px;
    background-color: lightgreen;
}

.time-sale {
    width: 100%;
    height:566px;
    background-color: mediumslateblue;
}

.series {
    width: 100%;
    height: 488px;
}

.style {
    width: 100%;
    height: 826px;
    background-color: lightslategrey;
}

.header-cta {
    width: 100%;
    height: 144px;
}

.footer {
    width: 100%;
    height: 278px;
    background-color: darkkhaki;
}

