
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    width: 100%;
    height: 80px;
    margin-left: 312px;
    margin-right: 312px;
    max-width: 1296px;
    background-color: aquamarine;
    align-items: center;
    
}

.menu {
    display: flex;
    width: auto;
    height: auto;
    padding: 16px;
    font-size: 16px;
    line-height: 120%;
}

.hero {
    width: 100%;
    height: 800px;
    background-color: coral;
}

.arrivals {
    display: flex;
    width: 100%;
    height: 1708px;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    
}

.best-seller {
    width: 100%;
    height: 498px;
    background-color: lightgreen;
}

.time-sale {
    width: 100%;
    height:566px;
    background-color: mediumslateblue;
}

.series {
    width: 100%;
    height: 488px;
}

.style {
    width: 100%;
    height: 826px;
    background-color: lightslategrey;
}

.header-cta {
    width: 100%;
    height: 144px;
}

.footer {
    width: 100%;
    height: 278px;
    background-color: darkkhaki;
}

